# mailcow.env.j2

MAILCOW_HOSTNAME={{ mailcow_hostname | default("mail.example.com") }}
TZ={{ mailcow_timezone | default("UTC") }}

# Let mailcow skip its own HTTPS
SKIP_LETS_ENCRYPT=y
HTTP_PORT=8080
HTTPS_PORT=8443

# The "web" ports won't be used externally since Traefik is in front
# but we set them to something other than 80/443 in case we want internal access
