# Mailcow environment configuration
MAILCOW_HOSTNAME={{ mailcow_hostname }}

# Default timezone
TZ={{ mailcow_tz }}

# Database configuration
DBNAME={{ mailcow_dbname }}
DBUSER={{ mailcow_dbuser }}
DBPASS={{ mailcow_dbpass }}
DBROOT={{ mailcow_dbroot }}

# Additional variables
REDISPASS={{ mailcow_redispass }}
ADDITIONAL_SAN={{ mailcow_additional_san }}

# Skip Let's Encrypt (using Traefik for SSL)
SKIP_LETS_ENCRYPT=y

# Configure SSL type for Mailcow
SSL_TYPE=manual

# Skip HTTP_BIND (using Traefik for HTTP)
HTTP_BIND=127.0.0.1
HTTP_PORT=8080

# Skip HTTPS_BIND (using Traefik for HTTPS)
HTTPS_BIND=127.0.0.1
HTTPS_PORT=8443
